     a:link{
        background-color:blue;
        color: white;
        font-size: 18px;
    }
    
    a:hover{
        background-color:blue;
        font-size: 32px;
        color: white
    }
    
    a:visited{
        background-color:red;
        color: white;
        font-size: 18px;
    }

